
    <div class="details-container">
        <button class="back-button" (click)="goBack()">Back</button>
        <br>
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
        <h1>{{ pokemon.name }}</h1>

        <p><strong>Type:</strong> {{ pokemon.type.join(', ') }}</p>
        <p><strong>HP:</strong> {{ pokemon.base.HP }}</p>
        <p><strong>Attack:</strong> {{ pokemon.base.Attack }}</p>
        <p><strong>Defense:</strong> {{ pokemon.base.Defense }}</p>
        <p><strong>Speed:</strong> {{ pokemon.base.Speed }}</p>
        <p><strong>Generation:</strong> {{ pokemon.generation }}</p>
        <p><strong>Legendary:</strong> {{ pokemon.legendary ? 'Yes' : 'No' }}</p>

        <!-- Previous Evolution -->
        <div *ngIf="preEvolution" class="evolution">
            <h3>Previous Evolution:</h3>
            <div (click)="navigateToEvolution(preEvolution._id)" class="evolution-card">
            <img [src]="preEvolution.image" [alt]="preEvolution.name" />
            <p>{{ preEvolution.name }}</p>
            </div>
        </div>
    
        <!-- Next Evolutions -->
        <div *ngIf="nextEvolution.length > 0" class="evolution">
            <h3>Next Evolutions:</h3>
            <div
            *ngFor="let next of nextEvolution"
            (click)="navigateToEvolution(next._id)"
            class="evolution-card"
            >
            <img [src]="next.image" [alt]="next.name" />
            <p>{{ next.name }}</p>
            </div>
        </div>
        <button class="delete-button" (click)="deletePokemon()">Delete</button>
        <button class="edit-button" (click)="enableEdit()">Edit</button>

        <!-- Edit Form -->
        <div *ngIf="isEditing" class="edit-form">
            <form (ngSubmit)="saveChanges()">
                <label for="name">Name:</label>
                <input id="name" [(ngModel)]="pokemon.name" name="name" required />
            
                <label for="hp">HP:</label>
                <input id="hp" type="number" [(ngModel)]="pokemon.base.HP" name="hp" required />
            
                <label for="attack">Attack:</label>
                <input id="attack" type="number" [(ngModel)]="pokemon.base.Attack" name="attack" required />
            
                <label for="defense">Defense:</label>
                <input id="defense" type="number" [(ngModel)]="pokemon.base.Defense" name="defense" required />
            
                <label for="speed">Speed:</label>
                <input id="speed" type="number" [(ngModel)]="pokemon.base.Speed" name="speed" required />
            
                <label for="generation">Generation:</label>
                <select [(ngModel)]="pokemon.generation" name="generation" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            
                <label for="legendary">Legendary:</label>
                <input id="legendary" type="checkbox" [(ngModel)]="pokemon.legendary" name="legendary" />
            
                <button id="Save" type="submit">Save</button>
                <button id="Cancel" type="button" (click)="cancelEdit()">Cancel</button>
            </form>
        </div>

    </div>
