/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'DM Sans', sans-serif;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
html, body{
    height: 90vh;
}

.page-container {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    flex-shrink: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  app-root {
  max-width: 1200px; /* Set a max width for the entire app */
  width: 90%;        /* Make it responsive */
  margin: 0 auto;    /* Center it horizontally */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}