
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 668px) {
  .pokemon-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 0.5rem;
  }

  .filters {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
  }

  .filters select, 
  .filters input, 
  .filters button {
      width: 100%;
  }
}
